<h2 class="mb-5">Clientes</h2>

<button class="btn btn-dark" routerLink="/">REGRESAR AL HOME</button>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/clientes/nuevo">
    Nuevo Cliente
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Ubicación</th>
      <th>Fecha de Creación</th>

    </tr>
  </thead>
  <tbody>
    @for(cliente of clientesArray; track cliente.dni){

    <tr>
      <th>{{ cliente.dni}}</th>
      <th>{{ cliente.nombre }}</th>
      <th>{{ cliente.telefono }}</th>
      <th>{{ cliente.ubicacion }}</th>
      <th>{{ cliente.fechaCreacion | date : "dd/MM/yyyy hh:mm a" }}</th>
      <td>
        <div class="btn-group">


          <button
            class="btn btn-primary"
            [routerLink]="[ cliente.dni, 'asuntos']"
          >
            Ver Asuntos
          </button>




          <button
            class="btn btn-warning"
            [routerLink]="[cliente.dni, 'actualizar']"
          >
            Editar
          </button>


          <button
            class="btn btn-danger"
            (click)="eliminarCliente(cliente)"
          >
            Eliminar
          </button>


        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
