<h2 class="mb-5">@if (clienteValidador){Editar}@else {Nuevo} Cliente</h2>

<div class="row row-cols-3 justify-content-center">
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <div class="mb-3">
        <label for="nombre">DNI</label>
        <input
          id="dni"
          type="number"
          placeholder="DNI"
          class="form-control"
          formControlName="dni"
        />

        @if(form.get('dni')?.hasError('required')){
        <p class="invalid-feedback d-block">
          El DNI es obligatorio.
        </p>

        }
      </div>

      <div class="mb-3">
        <label for="nombre">Nombre Completo</label>
        <input
          id="nombre"
          type="text"
          placeholder="Nombre"
          class="form-control"
          formControlName="nombre"
        />
        @if(form.get('nombre')?.hasError('required')){
        <p class="invalid-feedback d-block">
          El nombre es obligatorio.
        </p>

        }
      </div>


      <div class="mb-3">
        <label for="nombre">Ubicación</label>
        <input
          id="ubicacion"
          type="text"
          placeholder="Ubicación"
          class="form-control"
          formControlName="ubicacion"
        />
        @if(form.get('ubicacion')?.hasError('required')){
          <p class="invalid-feedback d-block">
            La ubicación es obligatoria.
          </p>

        }
      </div>

      <div class="mb-3">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          type="number"
          placeholder="Teléfono"
          class="form-control"
          formControlName="telefono"
        />
        @if(form.get('telefono')?.hasError('required')){
        <p class="invalid-feedback d-block">
          El teléfono es obligatorio.
        </p>

        }
      </div>



      <button class="btn btn-primary ms-2">
        @if (clienteValidador) { Actualizar }@else{ Crear } Cliente
      </button>
      <button
        type="button"
        class="btn btn-warning ms-2"
        routerLink="/clientes"
      >
        Cancelar
      </button>
    </form>
  }
</div>
